<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Dropdown</title>
</head>

<body>
  <header>
    <h1>Dropdown</h1>

  </header>
  <main>
    <article>
      <h2>¿Que es un Dropdown?</h2>
      <p>
        Un Dropdown es una lista desplegable que se puede mostrar o ocultar en el sitio web.
      </p>
    </article>
    <article>
      <h3>Estructura básica de un Dropdown</h3>

      <div class="container">
        <div class="dropdown">
          <span>Pon el puntero del ratón arriba de este texto</span>
          <div class="dropdown-content">
            <p>Hello World!</p>
          </div>
        </div>
        <code>
          <pre>&lt;div class="dropdown"&gt;
  &lt;span&gt;Pon el puntero del ratón arriba de este texto&lt;/span&gt;
  &lt;div class="dropdown-content"&gt;
    &lt;p&gt;Hello World!&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre>
        </code>
      </div>
    </article>

    <section>
      <h3>Tipos de Dropdown</h3>

      <article>
        <h4>Dropdown Text</h4>
        <div class="dropdown">
          <span>Pon el puntero del ratón arriba de este texto</span>
          <div class="dropdown-content">
            Texto importante; Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, quae libero obcaecati
            quasi, vero impedit velit quia quis ut harum facilis, numquam cum optio laboriosam facere tenetur et
            deleniti doloribus!
          </div>
        </div>
      </article>

      <article>
        <h4>Dropdown Menu</h4>
        <div class="dropdown">
          <button class="dropdown-menu-btn">Dropdown</button>
          <div class="dropdown-menu-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
      </article>
    </section>


  </main>
</body>

</html>