<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <title>Nav Bar</title>
</head>

<body>
  <header class="header">
    <h1 id="#top">NavBar Horizontal</h1>
    <ul class="navbar_horizontal">
      <li><a href="#top">Inicio</a></li>
      <li><a href="#">Tipos</a></li>
      <li><a href="#">Estilos</a></li>
      <li><a href="#">Extra</a></li>
    </ul>
  </header>
  <aside class="aside">
    <h2>Nav Bar Vertical</h2>
    <ul class="navbar_vertical">
      <li><a href="#top">Inicio</a></li>
      <li><a href="#">Tipos</a></li>
      <li><a href="#">Estilos</a></li>
      <li><a href="#">Extra</a></li>
    </ul>
  </aside>
  <main>
    <section id="tipos">
      <h2>Barras de Navegación</h2>
      <article>
        <h3>Navigation Bar Skeleton</h3>
        <p>Este es el esqueleto general del componente de barra de navegación. </p>

        <div class="container">
          <div class="code">
            <p>
              Este código es uno de los mas básicos para crear una barra de navegación.
            </p>
            <code>
                <pre> &lt;ul&gt;
    &lt;li&gt;
      &lt;a href="default.asp"&gt;Home&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a href="news.asp"&gt;News&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a href="contact.asp"&gt;Contact&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a href="about.asp"&gt;About&lt;/a&gt;
    &lt;/li&gt;
  &lt/ul&gt;</pre>
              </code>
          </div>
          <div class="example_nav">
            <ul>
              <li><a href="default.asp">Home</a></li>
              <li><a href="news.asp">News</a></li>
              <li><a href="contact.asp">Contact</a></li>
              <li><a href="about.asp">About</a></li>
            </ul>
          </div>
        </div>
      </article>
    </section>
  </main>
</body>

</html>