 body {
   background-color: #222;
  font-family: sans-serif;
  color:white;
 }

 .container-1 {
  padding:30px;
  background-color: red;
 }

 .container-2 {
  padding:30px;
  background-color: blue;
 }